/*******************
/*Top bar
*******************/
.topbar {
  background: #06d79c; }
  .topbar .navbar-header {
    background: #ffffff; }
  .topbar .top-navbar .navbar-header .navbar-brand .light-logo {
    display: none;
    color: rgba(255, 255, 255, 0.8); }
  .topbar .navbar-light .navbar-nav .nav-item > a.nav-link {
    color: #ffffff !important; }
    .topbar .navbar-light .navbar-nav .nav-item > a.nav-link:hover, .topbar .navbar-light .navbar-nav .nav-item > a.nav-link:focus {
      color: rgba(255, 255, 255, 0.8) !important; }

.hdr-nav-bar .navbar .navbar-nav > li.active > a {
  border-color: #06d79c; }