
.brand-link:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}
.brand-link {
  color: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid #4b545c;
}

.user-panel {
  border-bottom: 1px solid #4f5962;
}



.sidebar-theme {
  background-color: #343a40;
}

.sidebar-theme .user-panel a:hover {
  color: #ffffff;
}

.sidebar-theme .user-panel .status {
  color: #C2C7D0;
  background: rgba(255, 255, 255, 0.1);
}

.sidebar-theme .user-panel .status:hover, .sidebar-theme .user-panel .status:focus, .sidebar-theme .user-panel .status:active {
  color: #ffffff;
  background: rgba(247, 247, 247, 0.1);
}

.sidebar-theme .user-panel .dropdown-menu {
  border-color: rgba(255, 107, 107, 0.1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.sidebar-theme .user-panel .dropdown-item {
  color: #212529;
}

.sidebar-theme .nav-sidebar > .nav-item > .nav-link:active, .sidebar-theme .nav-sidebar > .nav-item > .nav-link:focus {
  color: #C2C7D0;
}

.sidebar-theme .nav-sidebar > .nav-item.menu-open > .nav-link,
.sidebar-theme .nav-sidebar > .nav-item:hover > .nav-link {
  /* Cambia del color del item del menu  */
  color: #ffffff;
  background-color: rgba(25, 118, 210, 1);
}

.sidebar-theme .nav-sidebar > .nav-item > .nav-link.active {
  color: #ffffff;
  background-color: #1976d2;
}

.sidebar-theme .nav-sidebar > .nav-item > .nav-treeview {
  background: transparent;
}

.sidebar-theme .nav-header {
  color: #d0d4db;
  background: inherit;
}

.sidebar-theme .sidebar a {
  color: #C2C7D0;
}

.sidebar-theme .sidebar a:hover {
  text-decoration: none;
}

.sidebar-theme .nav-treeview > .nav-item > .nav-link {
  /* Cambia el color de fuente de las opciones del treeview */
  color: #C2C7D0;
}

.sidebar-theme .nav-treeview > .nav-item > .nav-link:hover {
  /* Cambia el color de fondo de cada item del treeview */
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}

.sidebar-theme .nav-treeview > .nav-item > .nav-link.active, .sidebar-theme .nav-treeview > .nav-item > .nav-link.active:hover {
  /* Cambia el color del font del item activo del treeview */
  color: #ffffff;
  background-color: rgba(25, 118, 210, 0.4);
}

/* Labels */
.label-theme {
  background-color: #f6f6f6;
  color: #2f3d4a; }