<div class="register-box">
  <div class="register-logo">
    <a href="#/register">
      <b>Admin</b>LTE</a>
  </div>

  <div class="card">
    <div class="card-body register-card-body">
      <p class="login-box-msg">Crea una cuenta</p>

      <form ngNativeValidate [formGroup]="forma" (ngSubmit)="registrarUsuario()" action="../../index.html" method="post">
        <div class="form-group has-feedback">
          <input formControlName="nombres" name="nombres" type="text" class="form-control" placeholder="Nombres" required>
          <span class="fa fa-user form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
          <input formControlName="apePaterno" name="apePaterno" type="text" class="form-control" placeholder="Apellido paterno" required>
          <span class="fa fa-user form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
          <input formControlName="apeMaterno" name="apeMaterno" type="text" class="form-control" placeholder="Apellido materno" required>
          <span class="fa fa-user form-control-feedback"></span>
        </div>

        <div class="form-group has-feedback">
          <input formControlName="correo" name="correo" type="email" class="form-control" placeholder="Correo Electrónico" required>
          <span class="fa fa-envelope form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
          <input formControlName="password1" name="password1" type="password" class="form-control" placeholder="Contraseña" required>
          <span class="fa fa-lock form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
          <input formControlName="password2" name="password2" type="password" class="form-control" placeholder="Repita la contraseña"
            required>
          <span class="fa fa-lock form-control-feedback"></span>
        </div>

        <div class="form-group" *ngIf="forma.errors && !forma.pristine">
          <p class="text-danger">Las contraseñas deben ser iguales</p>
        </div>

        <!-- {{forma.errors | json}} -->

        <div class="form-group row">
          <div class="col-8">
            <div class="checkbox icheck">
                <!-- <input (change)="newFunction()" type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked> -->
              <input type="checkbox" name="condiciones" [formControlName]="'condiciones'">
              <label>Acepto los
                <a href="#">términos</a>
              </label>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-4">
            <button type="submit" class="btn btn-primary btn-block btn-flat" [disabled]="!forma.valid">Regístrame</button>
          </div>
          <!-- /.col -->
        </div>
      </form>

      <div class="social-auth-links text-center">
        <p>- Ó -</p>
        <a href="#" class="btn btn-block btn-primary">
          <i class="fa fa-facebook mr-2"></i>
          Quiero registrarme usando Facebook
        </a>
        <a href="#" class="btn btn-block btn-danger">
          <i class="fa fa-google-plus mr-2"></i>
          Quiero registrarme usando Google+
        </a>
      </div>

      <a routerLink="/login" class="text-center">Ya tengo una cuenta</a>
    </div>
    <!-- /.form-box -->
  </div>
  <!-- /.card -->
</div>
<!-- /.register-box -->